<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KangHui.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Ucar.Components.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KangHui.Components.Properties.Settings>
            <setting name="Ucar_Components_UcarService_CreateHtml" serializeAs="String">
                <value>http://admin.ucar.cn/UcarService/CreateHtml.asmx</value>
            </setting>
        </KangHui.Components.Properties.Settings>
        <Ucar.Components.Properties.Settings>
            <setting name="Ucar_Components_UcarService_CreateHtml" serializeAs="String">
                <value>http://admin.ucar.cn/UcarService/CreateHtml.asmx</value>
            </setting>
        </Ucar.Components.Properties.Settings>
    </applicationSettings>
</configuration>