@charset "utf-8";
/* CSS Document */
body{ width:100%; height: auto; background: url(../images/bj.jpg) #f2f2f2 center bottom no-repeat;}
*{margin:0;padding:0; font-family:"微软雅黑","Arial","宋体";}
li{ list-style:none;}
a{ text-decoration:none;color:#4f6c84;}
img{ border:none; vertical-align:top;}
.w1000{ width:1000px;}
.auto{ margin:0 auto;}
.left{ float:left;}
.right{ float:right;}
.clear{zoom:1;}
.clear:after{ content:"";display:block;clear:both;}
.blank{ width:1000px; height:20px; margin:0 auto;}


/*头部开始*/
.mynav{ margin-top:15px; height:130px;}
.logo_r { width:460px; height:118px;}
.logo_r li{ float:left; width:20px; margin-right:35px;}
.logo_r li a{width:24px; height:84px; padding:12px 2px; display:inline-block; text-align:center;font-size:14px; }
.logo_r li a:hover{ width:24px; height:84px; background:#a02716; color:#fff; padding:12px 2px;font-size:14px;}
.active{ width:24px; height:84px; background:#a02716; color:#fff;}

/*幻灯片开始*/

.bannerbox { width:1349px; height: 460px; overflow: hidden; margin: 0px auto; }
#focus { width:1349px; height: 460px; clear: both; overflow: hidden; position: relative; float: left; }
    #focus ul { width: 1349px; height: 460px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus ul li { float: left; width: 1349px; height: 460px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus .preNext { width: 550px; height: 460px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 43px; background: url(../images/sprite.png) no-repeat left center; }
    #focus .next { right:43px; background: url(../images/sprite1.png) no-repeat right center; }

.myline{ width:100%; height:21px; background:url(../images/line_02.jpg) repeat-x;}

.fenlei{ width:1000px; height:119px; background:url(../images/ind_10.jpg) no-repeat	}
.fenlei ul{ height:42px; float:right; display:block;}
.fenlei ul li{ width:200px; height:42px; float:left; font-size:12px;display:block; margin-right:22px; padding-top:58px; position:relative;}
.fenlei ul li h3{ position:absolute; font-size:18px; width:96px; height:26px; line-height:26px; top:20px; left:40px;}
.fenlei ul li h3 a{ color:#333;}

/*关于我们*/
.myabout{ height:210px; margin-bottom:20px;}
.about{ width:710px;}
.about dl dt{ width:710px; float:left;}
.about dl dt h2{float:left; width:130px; height:31px; background:url(../images/ind_13.jpg) 10px 0 no-repeat; padding-left:46px; font-size:20px; line-height:32px;}
.about dl dt span{ float:right;}
.about dl dd{ width:710px; float:left; padding-top:20px;}
.about_pic{ float:left; width:182px;}
.about_r{ float:right; width:512px;}
.about_r p{ font-size:13px; text-indent:2em; line-height:24px;}

.contact{ width:250px;} 
.contact img{ float:left; width:250px; padding-top:15px;}
/*产品展示*/
.show{ width:1000px; height:440px; margin-top:20px;}
.show dl dt{ width:1000px; float:left;}
.show dl dt h2{ float:left; width:130px; height:31px; background:url(../images/ind_13.jpg) 10px 0 no-repeat; padding-left:46px; font-size:20px; line-height:32px;}
.show dl dt span{ float:right;}

.show dd{ width:1000px; float:left; padding-top:20px;}
.show .myshow li{ width:228px; height:380px; float:left; border:1px #7a6b59 solid; background:#fff; margin-right:26.6px;}
.show .myshow li:nth-child(4){ margin-right:0 !important;}
.show .myshow li img{ padding-bottom:8px;}
.show .myshow li h3{ width:178px; height:35px; background:url(../images/ind_31.jpg) no-repeat; font-size:16px; line-height:35px; text-align:center; display:block; margin-left:24px;}
.show .myshow li p{ font-size:13px; line-height:24px; padding:8px; text-indent:2em; margin-top:6px;}
.show .myshow li span{ float:right; font-size:13px; margin-right:10px;}
.show .myshow li span a{ color:#900;}

.footer{ background: rgba(0,0,0,0.7); width:100%; height:170px; font-size:13px; line-height:22px; text-align:center; color:#fff;}
.footer p{ padding-top:30px;}

/*list*/
.mylist{}
.list_ad{margin:0 auto;width:100%;height:190px; background:url(../images/list_02.jpg) center top no-repeat; }
.list_l{ width:170px; }
.list_l dt h2{float:left; width:150px; height:31px; background:url(../images/ind_13.jpg) 10px 0 no-repeat; padding-left:46px; font-size:20px; line-height:32px; margin-bottom:20px;}
.list_l dd a{ float:left; width:150px; height:36px; line-height:36px; font-size:14px; color:#000; text-align:left; padding-left:20px; border-bottom:1px #000 solid;}
.list_l dd a:hover{  width:150px; height:36px;background:#000; color:#fff;}

.list_r{ width:780px; background:#f9f9f9; height:auto; padding-bottom:20px !important; margin-bottom:20px; border:1px #eee solid;}
.list_r dt{ float:left; width:780px; display:block; padding-top:15px;}
.list_r dt h2{float:left; width:130px; height:31px; background:url(../images/fz.png) 10px 13px no-repeat; padding-left:36px; font-size:20px; line-height:32px;}
.list_r dt span{ float:right; font-size:13px; line-height:32px; padding:0 24px 0 0;}
.list_pic dd{ width:780px; float:left;}
.list_pic dd ul{ width:760px; float:left; padding-left:10px; padding-top:20px;}
.list_pic dd ul li{ float:left; width:240px; border:1px #ededed solid; background:#fff; margin-right:5px; margin-left:5px; margin-bottom:15px;}
.list_pic dd ul li img{ padding:6px;}
.list_pic dd ul li p{ text-align:center; line-height:32px; font-size:13px; padding-bottom:10px;}
/*分页*/
.page{text-align:center;margin-top:30px}
.page a{ display:inline-block; padding:2px 7px; border:1px solid #ccc; color:#333}
.page .page-conn{ background:#900;color:#fff;border:1px solid #720000;}
/*新闻列表*/
.list_news dd{ width:780px; float:left;}
.list_news dd ul{ width:760px; float:left; padding-left:10px; padding-top:20px;}
.newsul li{ width:750px; height:34px; border-bottom:1px solid #ddd; line-height:34px; font-size:12px; text-indent:14px; background:url(../images/855.jpg) left center no-repeat}
.newsul li a{ color:#333}
.newsul li a{ display:inline-block; float:left; width:600px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.newsul li span{ float:right; color:#999}

/*文章页*/
.list_show dd{ width:760px; float:left; margin-left:10px; padding-top:20px;}
.wzxx-tit{ font-size:18px; color:#000; text-align:center}
.wzxx-time{ height:23px; background:#f2f2f2; font-size:12px; line-height:23px; text-align:center; margin-top:20px}
.wzxx-nr{ margin-top:30px}
.wzxx-nor {margin-top: -30px}
.wzxx-nr img{ vertical-align:central; display:block; margin:15px auto;}
.wzxx-nr p{ line-height:30px; font-size:14px; color:#333; text-indent:2em; padding:0 10px;}

.share{ padding-left:24px;}